<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog dla programistów</title>
    </head>
    <body>
        <div>
            <h1>Witam na stronie bloga!</h1>
            <h2>Blog o programowaniu</h2>
            <h3>Autor: Paweł Miduch</h3>
            <h4>Wszelkie prawa zastrzeżone</h4>
        </div>
        <div>
            <p>To jest akapit.</p>
            <em>Wyróżniony tekst</em><br>
        <   strong>Pogrubienie tekstu</strong>
        </div>
    </body>
</html>